.component_canvas {
	background-color: #13bbd5;
	color: rgb(41, 3, 253);
	font-size: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1px;
	border: 1;
    text-align: center;
    margin-top: 50px;
}

.component_item {
	border: 1px rgb(25, 0, 255);
	border-style: dashed;
	padding: 1px;
	text-align: center;
	font-size: 30px;
	color: rgb(255, 123, 0);
	background-color: #000000;
    text-align: center;
}