.currentTime { 
	margin-top:20px; 
	align:center; 
	font-size:50
}
.date-bar {font-size: 50px; text-align:center; margin-top:10px; }
.birthdaybanner {background-color:crimson; font-size: 100px; color:black; text-align:center; }
.alerts {background-color:silver; margin-top:10px; color: red; }
.upcoming {background-color:yellow; }
.chore-list {background-color:lightblue; }
.basic-cell {background-color:black; margin-top:30px; font-family:'Roboto', sans-serif}
.basic-list { list-style-type: none; font-family:'Roboto', sans-serif; font-size: 30px; margin-top: 30px; }
.basic-list ul { list-style-type: none; padding: 0; margin: 1; }
.basic-list li { text-align: left; padding: 1;}

.grocery-list {
	background-color:lightgreen;  
}
.wish-list {background-color:pink; }
.meal-list {background-color:darkred; color:white;}
.table-2 { display: grid; grid-template-columns: 1fr 1fr; gap: 1px; border 1px solid #000 }
.table-4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1px;
	border: 1px solid #000
}
.cell {
	border: 1px solid #000;
	padding: 3px;
	text-align: center;
	font-size: 30px;
}
.dark {
	background-color:black;
	font-color:gold;
}
.alert-large {
	font-size: 100px;
}
body { background-color:black; font-family:'Playfair', sans-serif} 
div { background-color:black; color:gray; font-size:50;}

.multiply_canvas {
	background-color: #000;
	color: yellow;
	font-size: xx-large;
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
	gap: 1px; 
	border: 1;
}
.mult_item {
	border: 1px darkorange;
	border-style: dashed;
	padding: 2px;
	text-align: center;
	font-size: 100px;
}

.table-2 {  solid #000 }
