

.currentTime {
	text-align: right;
	font-size: 50px;
	background-color: white;
	color:black;
}

.currentDate {
	text-align: right;
	font-size: 40px;
	background-color: white;;
	color: black;
}

.date_bar {
	border-style: groove;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-right: 2px;
	width: 99%;
	z-index: 5;
	background-color: white;
	color:#000;
}

.birthdaybanner {
	background-color: crimson;
	font-size: 70px;
	color: black;
	text-align: center;
}

.alerts {
	background-color: silver;
	margin-top: 10px;
	color: red;
}


.chore-list {
	background-color: lightblue;
}

.basic-cell {
	background-color: black;
	background-color: white;;
	margin-top: 30px;
	font-family: 'Roboto', sans-serif
}

.basic-list {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-top: 30px;
}

.basic-list ul {
	list-style-type: none;
	padding: 0;
	margin: 1;
}

.basic-list li {
	text-align: left;
	padding: 1;
}

.grocery-list {
	background-color: lightgreen;
}

.wish-list {
	background-color: pink;
}

.meal-list {
	background-color: darkred;
	color: white;
}

.table_2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
	border: #000 1px;
}

.table_4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1px;
	border: 1px dashed #000
}

.table_5 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1px;
	border: 1px groove orange;
}

.cell {
	border: 1px darkorange;
	border-style: groove;
	padding: 2px;
	text-align: center;
	font-size: 30px;
	color: yellow;
}

.cell_small {
	border: 1px sienna;
	border-style: double;
	padding: 2px;
	text-align: center;
	font-size: 16px;
	color: yellow;
}

.dark {
	background-color: black;
	color: gold;
}

.alert-large {
	font-size: 100px;
}

body {
	background-color: black;
	font-family: 'Playfair', sans-serif
}

div {
	background-color: black;
	color: gray;
	font-size: 50;
}



.container_col1 {
	display: flex;
	flex-direction: column;
	/* Arrange child divs in a column (one per row) */
	max-width: 100px;
	/* Optional: set a max width */
	margin: 1px;
	/* Center the container horizontally */
	font-size: 14px;
}

.container { 
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.row {
	padding: 1px;
	border: 1px solid #ddd; 
	border-radius: 2rem;
	/* Border around each row */
	background-color: rgb(242, 242, 193);
	/* Light background color */
	margin-bottom: 1px;
	/* Space between rows */
	font-size: inherit;
}
.left-content {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	/* Stack text and image vertically */
	justify-content: center;
	/* Center the text and image vertically */
	flex: 1;
	text-align: left;
}

.right-content {
	text-align: right;
}
.right-content img {
	max-height: 200px;
	height: auto;
	width: auto;
	/* Maintains aspect ratio */
}

.hidden {
	display: none;
}

.header_top {
    width: 100%;
    padding: 1rem;
}

.body-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.body-grid__item {
    padding: 2rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.footer {
    width: 100%;
    padding: 1rem;
    background-color: #444;
    color: #fff;
    text-align: center;
}