.upcoming {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    font-size: large;
    color: black;
    margin: 0;
    padding: 1px;
    border-radius: 10px;
}

.upcoming-list {
    background-color: rgb(0, 0, 0);
    font-size: large;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Space items evenly */
    flex-wrap: nowrap; /* Prevent wrapping to new rows */
}

.upcoming-item {
    width: calc(80% - 5px); /* Ensure each item takes 20% of the row (5 items per row) */
    font-size: 24px;
    background-color: white;
    border-radius: 18px;
    padding: 10px;
    margin: 0 5px;
    list-style-type: none;
    text-align: left;
    text-wrap: nowrap;
}

.upcoming-item h1 {
    margin: 0;
    padding: 0;
}

.upcoming-item span {
    display: block; /* Make sure the span behaves like a paragraph */
    margin-top: 5px;
    white-space: normal; /* Allow natural word wrapping */
    word-wrap: normal; /* Ensure text wraps normally */
    overflow-wrap: break-word; /* Break long words if necessary */
}
