.upcoming { 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(69, 151, 192);
    font-size: large;
    color: black;
    margin: 0 0 0 0;
    padding: 1px;
    border-radius: 10;
}
.upcoming-list {
	background-color: rgb(13, 166, 243);
    font-size: large;
    color: black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.upcoming-item {
    display: inline-block;
    font-size: 24px;
    background-color: white;
    border-radius: 18px;
    padding: 0 5 5 5;
    margin: 0 5 5 0;
    list-style-type: none;
    text-align: left;
    width: calc(fit-content + 5px);
}
.upcoming-item h1 {
    font-size: 30px;
}